{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
        <h2>Fatidique</h2>
        <p class="lead">
            Parce que chaque moment fatidique a besoin de <br/><strong>son compteur</strong>...
        </p>
        <p><a class="btn btn-lg btn-outline-primary" href="{{ path('event_create') }}" role="button"><i class="fa fa-plus"></i>
                Créer un compteur <span class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">fatidique</span></a>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h3>Nouveautés</h3>
            <p>
                {# @var event \AppBundle\Entity\Event #}
                {% for event in lastEvents %}
                    <a href="{{ path('event_view', {slug: event.slug}) }}">{{ event.label }}</a> <br/>
                {% endfor %}
            </p>
        </div>

        <div class="col-lg-6 text-right">
            <h3>Moments fatidique</h3>
            <p>
                {# @var event \AppBundle\Entity\Event #}
                {% for event in almostEndedEvents %}
                    <a href="{{ path('event_view', {slug: event.slug}) }}">{{ event.label }}</a> <br/>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
