{% extends 'base.html.twig' %}

{% block title %}{{ event.label }}{% endblock %}

{%- block description -%}
    {%- set description = event.description|replace({"\n":' ', "\r":' '})[:156] ~ ' ...' -%}
    {{ description | length > 10? description : parent() }}
{%- endblock %}

{% block body %}

    <div class="grid md:grid-cols-4 sm:grid-cols-1 mt-20 px-4 md:px-0">
        <div class="md:col-start-2 md:col-span-2">
            <h1 class="text-2xl">{{ event.label }}</h1>
            <div class="divider mt-1"></div>
        </div>
    </div>

    <div class="grid md:grid-cols-4 sm:grid-cols-1 mt-20 mb-20">
        <div class="md:col-start-2 md:col-span-2">
            <div id="clock" data-datetime="{{ event.date | date(constant('\DATE_ATOM')) }}"></div>

            <div id="countdown">
                <div class="grid grid-cols-4 gap-8 text-5xl mt-6">
                    <div class="md:col-start-2 text-right border-b pb-2" id="years"></div>
                    <div class="text-2xl self-end pb-2">années</div>
                </div>
                <div class="grid grid-cols-4 gap-8 text-5xl mt-6">
                    <div class="md:col-start-2 text-right border-b pb-2" id="months"></div>
                    <div class="text-2xl self-end pb-2">mois</div>
                </div>
                <div class="grid grid-cols-4 gap-8 text-5xl mt-6">
                    <div class="md:col-start-2 text-right border-b pb-2" id="days"></div>
                    <div class="text-2xl self-end pb-2">jours</div>
                </div>
                <div class="grid grid-cols-4 gap-8 text-5xl mt-6">
                    <div class="md:col-start-2 text-right border-b pb-2" id="hours"></div>
                    <div class="text-2xl self-end pb-2">heures</div>
                </div>
                <div class="grid grid-cols-4 gap-8 text-5xl mt-6">
                    <div class="md:col-start-2 text-right border-b pb-2" id="minutes"></div>
                    <div class="text-2xl self-end pb-2">minutes</div>
                </div>
                <div class="grid grid-cols-4 gap-8 text-5xl mt-6">
                    <div class="md:col-start-2 text-right border-b pb-2" id="secondes"></div>
                    <div class="text-2xl self-end pb-2">secondes</div>
                </div>
            </div>

            <span class="countdown font-mono text-2xl invisible">
              <span style="--value:1;"></span>années<br/>
              <span style="--value:1;"></span>mois<br/>
              <span style="--value:1;"></span>jours<br/>
                {% if not event.isDateOnly %}
                    <span style="--value:1;"></span>heures<br/>
                    <span style="--value:1;"></span>minutes<br/>
                    <span style="--value:1;"></span>secondes
                {% endif %}
            </span>
        </div>
    </div>
    </div>


    <div class="grid md:grid-cols-4 sm:grid-cols-1 mt-20 px-4 md:px-0">
        <div class="md:col-start-2 md:col-span-2">
            {% if event.description %}
                <h4 class="text-md">Détails</h4>
                <div class="divider mt-1"></div>
                <p>
                    {{ event.description | nl2br }}
                    <br/><br/>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
