{% extends '@App/base.html.twig' %}

{% block title %}{{ event.label }}{% endblock %}

{%- block description -%}
    {%- set description = event.description|replace({"\n":' ', "\r":' '})[:156] ~ ' ...' -%}
    {{ description | length > 10? description : parent() }}
{%- endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h2>{{ event.label }}</h2>

            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div id="clock" data-timestamp="{{ event.date.timestamp }}">

                <div>
                    <span class="years"></span>
                    <div class="smalltext">années</div>
                </div>
                <div>
                    <span class="months"></span>
                    <div class="smalltext">mois</div>
                </div>
                <div>
                    <span class="days"></span>
                    <div class="smalltext">jours</div>
                </div>
                {% if not event.isDateOnly %}
                    <div>
                        <span class="hours"></span>
                        <div class="smalltext">heures</div>
                    </div>
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">minutes</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">secondes</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if event.description %}

                <h4>Détails</h4>
                <hr/>
                <p>
                    {{ event.description | nl2br }}
                    <br/><br/>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
