<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Fatidique | Parce que chaque moment fatidique a besoin de son compteur{% endblock %}</title>
    <meta name='description'
          content="{% block description %}Le temps n'est rien sans un moment fatidique.{% endblock %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ vite_entry_link_tags('app') }}
    {{ vite_entry_script_tags('app') }}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}"/>
    {#
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon16.png') }}">
    #}
</head>
<body>
<div class="container mx-auto">

    {% include 'header.html.twig' %}

    {% block body %}{% endblock %}
</div>

<footer class="footer footer-center p-4 text-base-content mt-40">
    <aside>
        <p>&copy; {{ 'now' | date('Y') }} Fatidique, Inc.</p>
    </aside>
</footer>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XM1K8HN77Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XM1K8HN77Q');
</script>

</body>
</html>
